import { InteractionHandler, InteractionHandlerTypes } from '@sapphire/framework';
import type { SelectMenuInteraction } from 'discord.js';
import { ApplyOptions } from '@sapphire/decorators';

@ApplyOptions<InteractionHandler.Options>({ interactionHandlerType: InteractionHandlerTypes.SelectMenu})
export class {{pascalCase name}} extends InteractionHandler {
	async run(interaction: SelectMenuInteraction, _: InteractionHandler.ParseResult<this>) {
		await interaction.reply('Hi'); // TODO: do stuff
	}

	parse(_interaction: SelectMenuInteraction) {
		if (_interaction.customId !== 'agb.{{camelCase name}}') return this.none();

		return this.some({});
	}
}