import { ApplyOptions } from '@sapphire/decorators';
import type { PieceContext } from '@sapphire/framework';
import { ScheduledTask, ScheduledTaskOptions } from '@sapphire/plugin-scheduled-tasks';
import { Time } from '@sapphire/time-utilities';

@ApplyOptions<ScheduledTaskOptions>({
	name: '{{lowerCase name}}',
	interval: Time.Second // TODO: Change this to your desired interval
})
export class {{pascalCase name}}Task extends ScheduledTask {
	public constructor(context: PieceContext, options: ScheduledTaskOptions) {
		super(context, options);
	}

	public async run(payload: unknown) {
		this.container.logger.debug('Do stuff')
	}
}

declare module '@sapphire/framework' {
	interface ScheduledTasks {
		{{lowerCase name}}: never;
	}
}
