import type { Awaitable, CommandInteraction } from 'discord.js';
import type { ApplicationCommandRegistry } from '@sapphire/framework';
import { SlashCommandBuilder } from '@discordjs/builders';
import { DefaultChatInputOptions } from '#lib/constants';
import { AgbSubCommand } from '#lib/structures';
import { AgbSubCommandOptions } from '#lib/interfaces';

@ApplyOptions<AgbSubCommandOptions>({
	subcommands: [
	// TODO: add subcommands
	]
})
export class {{pascalCase name}}Command extends AgbSubCommand {
	registerApplicationCommands(registry: ApplicationCommandRegistry): Awaitable<void> {
		registry.registerChatInputCommand(
			(builder) =>
				builder //
					.setName('{{snakeCase name}}')
					.setDescription('{{description}}'),
			DefaultChatInputOptions
		);

	}
}
